<!-- <div class="container"> -->
<div *ngIf="showScramble" class='scrambleContainer'>
    <p class="scramble">{{scramble}}</p>
</div>
<div *ngIf="showButtons" style="text-align :center;">
    <button mat-raised-button color="primary" (click)="previousScramble()">Previous</button>
    <button mat-raised-button color='primary' style="margin-left:10px" (click)="nextScramble()">Next</button>
</div>

<div class="row">
    <div *ngIf='showScores' class="col-md-2">
        <table>
            <tr>
                <th> ⌕ </th>
                <th> time </th>
                <th> ao5 </th>
            </tr>
            <tr *ngFor="let solve of solvesInfo">
                <td>{{solve.solveNumber +1}}</td>
                <td><span *ngIf="solve.minutes">{{solve.minutes}}.</span>{{solve.seconds}}.{{solve.milliSeconds}}</td>
                <td>{{solve.ao5}}</td>
            </tr>
        </table>

    </div>
    <div class="col-md-10 solveTImer">
        <p [class]="toggleClass"><span *ngIf="showMinutes">{{minutes}}.</span>{{seconds}}<span *ngIf="showMilliSeconds">.{{milliSeconds}}</span></p>
    </div>
</div>


<!-- </div> -->