<!-- <div class="container"> -->
<div class='scrambleContainer'>
    <p class="scramble">{{scramble}}</p>
</div>
<div style="text-align :center;">
    <button mat-stroked-button (click)="previousScramble()">Previous</button>
    <button mat-stroked-button (click)="nextScramble()">Next</button>
</div>

<div class="row">
    <div class="col-md-2">
        <table>
            <tr>
                <th> ⌕ </th>
                <th> time </th>
                <th> ao5 </th>
            </tr>
            <tr *ngFor="let solve of solvesInfo">
                <td>{{solve.solveNumber}}</td>
                <td>{{solve.seconds}}</td>
                <td></td>
            </tr>
        </table>

    </div>
    <div class="col-md-10">
        <p class="seconds">{{seconds}}</p>
    </div>
</div>


<!-- </div> -->